NODE_ENV=development
PORT=3003

# ── PostgreSQL (Neon connection string) ────────────────────────────────────
DATABASE_URL=postgresql://neondb_owner:npg_qM9jsLKd0iHk@ep-plain-cell-ait5xqz6-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require

# ── JWT ────────────────────────────────────────────────────────────────────
JWT_SECRET=9d714263352e735d426844af243baf2cee562a2da538d9421274d54099fa4080cbd51dfdb36ba1ad5689fe49d248b048232b0ebef2b9b4e024c99b6a25913928
JWT_EXPIRES_IN=1d
AUTH_SERVICE_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000
 